<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Temtems</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link type="text/css" rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add Temtem type</h1>
	<div class="container">
		<div class="col-md-4">
		<form th:object="${temType}" th:action="@{savetype}" action="#" method="post">
		  	<label for="name">Type name</label>
			<input type="text" id="name" th:field="*{name}" class="form-control"/>
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" class="btn btn-primary" value="Save"></input>
		</form>
		</div>
	</div>
</body>
</html>